/* Variables de color, aqui definimos los colores que queremos poner
en toda la hoja de eslito */
:root {
    --alabaster-grey: #d8e2dc;
    --powder-petal: #ffe5d9;
    --pastel-pink: #ffcad4;
    --cherry-blossom: #f4acb7;
    --dusty-mauve: #9d8189;
}

/* Estilos generales
tipología, centrar texto, aplicar fondo gris, color texto, bajamos contenido */
body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background-color: var(--alabaster-grey);
    color: var(--dusty-mauve);
    padding-top: 50px;
}

/* El escenario del juego
ancho pantalla, altura, borde sueve, suavizar esquinas, separador de arriba
abajo y centro */
#personajes {
    width: 600px;
    height: 200px;
    border: 4px solid var(--powder-petal);
    border-radius: 10px;
    margin: 20px auto;
    /* Permite que la abajea y la flor se posicionen dentro de este recuadro, no fuera */
    position: relative;
    /* Hace invisibles a los elemntos cuando salen de este recuadro */
    overflow: hidden; 

    /* configura imagen, imagen cobra recuadro, centra la imagen, hace que no se repita */
    background-image: url('images/campo.png'); 
    background-size: cover; 
    background-position: center bottom;
    background-repeat: no-repeat;

    /* Detalle esteticos de la base
    simula visualmente el suelo donde estan los personajes, añade sombra el recuadro */
    border-bottom: 8px solid var(--dusty-mauve);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Estilcos para abeja y flor
tamaño caja, altura caja, tamaño emoje, permite moverse coordenadas, los pega al suelo */
#abeja, #flor {
    width: 40px;
    height: 40px;
    font-size: 40px;
    position: absolute;
    bottom: 0;
}

/* Estilo para abeja
siempre fija en borde izquierdo, asegura que pase por delante de la flor */
#abeja { 
    left: 50px; 
    z-index: 2; 
}
/* Estilo para flor
inicial borde derecho, asigna animacion de movimiento infinito de forma
predeterminada */
#flor { 
    right: 0; 
    animation: moverObstaculo 2s infinite linear; 
}

/* Menu flotante de game over
oculto por defecto, flora sobre los demas, lo mueve al 50% arriba e izquierda */
#contenedor-mensaje {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid var(--cherry-blossom);
    z-index: 10;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Texro has perdido
quita el magen que traen por defecto, color oscuro */
#mensaje-juegoperdido {
    margin-top: 0;
    color: var(--dusty-mauve);
}

/* Boton aceptar/reiniciar
color, texto, relieve de fondo, mas grande, curvatura leve, tamaño */
#btn-reiniciar {
    background-color: var(--cherry-blossom);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    /* cambia el raton por una manita apuntando */
    cursor: pointer;
    /* animacion suave al pasar el raton (dura 0.3s) */
    transition: background 0.3s;
}
/* Efecto al poner el raton encima del boton */
#btn-reiniciar:hover {
    background-color: var(--dusty-mauve);
}

/* Clase para el salto */
.salto { 
    /* Ejecuta la animacion de salto. Dura 0.5 segundos
    y tiene aceleracion/desaceleracion sueva */
    animation: saltarPersonaje 0.5s ease-in-out; 
}
/* ANimacines calve, definen los fotogramas del movimiento paso a paso */
/* define como se mueve la flor de derecha a izquierda */
@keyframes moverObstaculo {
    0% { right: -50px; }
    100% { right: 600px; }
}
/* define la curva del salto de la abeja */
@keyframes saltarPersonaje {
    0%, 100% { bottom: 0; }
    40%, 60% { bottom: 120px; }
}